* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans, sans-serif !important;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

.screen {
    width: 100%;
    border: .2rem solid red;
}

.header {
    width: 100%;
}

.top-navbar {
    border: .2rem solid blue;
    width: 100%;
    background: #f2e9e9;
    padding: 1.4rem 0rem;
    font-size: 1..6rem;
}

.top-navbar-wrapper {
    border: .2rem solid orange;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tanishq-logo {
    width: 7%;
    border: .2rem solid green;
}

.tanishq-logo>img {
    width: 100%;
    height: 100%;
}

.search-product {
    width: 55%;
    border: .2rem solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: .8rem;
    border-radius: .6rem;
}

.top-right-menu-wrapper {
    width: 30%;
    border: .2rem solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-product>input {
    width: 75%;
    border: .2rem solid orchid;
    border: none;
    outline: none;
    line-height: 1.2;
    font-size: 1.4rem;
}

.icon {
    width: 6%;
    height: 2rem;
    border: .2rem solid red;
}

.icon>img {
    width: 100%;
    height: 100%;
}

.top-right-menu {
    width: 22%;
    border: .2rem solid palegreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-right-menu:hover {
    transform: scale(1.04);
    font-weight: 700;
}

.single-menu {
    width: 40%;
    margin: auto;
}

.single-menu>img {
    width: 100%;
    height: 100%;
}

.top-right-menu-name {
    /* width: 40%; */
    /* margin: auto; */
    text-align: center;
    color: #832729;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: .2rem;
}


/* second navbar-------------------- */

.bottom-navbar {
    width: 100%;
}

.buttom-navbar-container {
    width: 90%;
    margin: auto;
    /* border: .1rem solid skyblue; */

}

.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 1.2rem 0;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.buttom-navbar-container>ul>li>a {
    color: #000;
    padding-bottom: .9rem;
}

.buttom-navbar-container>ul>li>a:hover {
    color: #832729;
    border-bottom: .2rem solid #832729;

}


/* slider-------------------------------- */

.image-slider {
    width: 100%;
    /* border: .2rem solid black; */
}

#slider {
    /* margin: 0 auto; */
    width: 100%;
    /* max-width: 100%; */
    /* text-align: center; */
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    /* padding: 10px; */
    /* border: 3px solid #ccc; */
    /* background: #fff; */
    /* position: relative; */
    /* z-index: 1; */
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slide4:checked~#slides .inner {
    margin-left: -300%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    /* height: 300px; */
}

.slide-content {
    width: 100%;
}

.slide-content>img {
    width: 100%;
    height: 100%;
}

#slides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 5rem;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 5rem;
    height: 5rem;
    opacity: 1;
    color: black;
}

#controls label:hover {
    opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(1) {
    background: url(./images/arrow.png) no-repeat;

    float: right;
    margin: 0 -5rem 0 0;
    display: block;
}

#slide1:checked~#controls label:nth-last-child(2),
#slide2:checked~#controls label:nth-last-child(3),
#slide3:checked~#controls label:nth-last-child(4),
#slide4:checked~#controls label:nth-last-child(1) {
    background: url(./images/arrow.png) no-repeat;
    float: left;
    margin: 0 0 0 -5rem;
    display: block;
}

#bullets {
    margin: 1.6rem 0 1.6rem 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: #ccc;
    margin: 0 1.4rem;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
    background: #832729;
}

@media screen and (max-width: 300px) {

    #slide1:checked~#controls label:nth-child(2),
    #slide2:checked~#controls label:nth-child(3),
    #slide3:checked~#controls label:nth-child(4),
    #slide4:checked~#controls label:nth-child(1),
    #slide1:checked~#controls label:nth-last-child(2),
    #slide2:checked~#controls label:nth-last-child(3),
    #slide3:checked~#controls label:nth-last-child(4),
    #slide4:checked~#controls label:nth-last-child(1) {
        margin: 0;
    }

    #slides {
        max-width: calc(100% - 100%);
        width: 100%;
        margin: 0 auto;
    }
}

.second-section-container {
    width: 90%;
    border: .2rem solid red;
    margin: auto;
}

.section-heading {
    width: 100%;

}

.section-heading-txt {
    font-size: 3.6rem;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 1rem;
    color: #832729;
}

.section-para-txt {
    font-size: 1.6rem;
    letter-spacing: .04rem;
    text-align: center;
    margin-top: 1rem;
}

.section-divider-line {
    width: 100%;
    /* border: .2rem solid black; */
}

.section-divider-line>img {
    width: 100%;
    height: 100%;
}

.shop-jwell-content {
    width: 100%;
    /* border: .1rem solid olive; */
    display: flex;
    justify-content: space-between;
}

.jwell-left-img-content-info {
    /* border: .1rem solid orange; */
    width: 49%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.jwell-right-img-content-info {
    /* border: .1rem solid orange; */
    width: 49%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-link {
    width: 100%;
    color: black;
    font-size: 1.2rem;
    line-height: 1.2;
    letter-spacing: .04rem;
    text-align: center;
    width: 30%;
    border: .1rem solid lightgray;
    margin-bottom: 1.6rem;
    border-radius: 1rem;

}

.product-link:hover {
    box-shadow: 0 .4rem .8rem 0 rgba(131, 39, 41, 0.2), 0 .6rem 2rem 0 rgba(131, 39, 41, 0.19);
}

.product-img {
    width: 100%;
    height: 15rem;
}

.product-img>img {
    width: 100%;
    height: 100%;
}

.card-product-info {
    /* border: .1rem solid blue; */
    padding: 1rem;
}

.jwell-name {
    width: 100%;
    font-size: 1.6rem;
    color: #832729;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;

}

.expolre-txt {
    margin-top: .8rem;

}

.shop-collection-container {
    width: 90%;
    border: .2rem solid palegreen;
    margin: 1rem auto;
}

.collection-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-product-desc {
    width: 32%;
    font-size: 1.6rem;
    text-transform: capitalize;
    border: .1rem solid lightgray;
    border-radius: 1rem;
}
.collection-product-desc:hover{
    box-shadow: 0 .4rem .8rem 0 rgba(131, 39, 41, 0.2), 0 .6rem 2rem 0 rgba(131, 39, 41, 0.19);

}
.collection-product-img {
    width: 100%;
}

.collection-product-img>img {
    width: 100%;
    height: 100%;
}

.collection-product-name-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 1.2rem;
}

.c-product-name {
    color: #832729;
    font-weight: 600;
    letter-spacing: .04rem;
}

.c-explore-now {
    font-size: 1.4rem;
    color: black;
}

/* section-4 */

.top-seller-content {
    width: 90%;
    margin: auto;
    border: .2rem solid blueviolet;
}

.top-seller-product-content {
    width: 100%;
    border: .2rem solid lawngreen;
    display: flex;
    justify-content: space-between;
}

.top-sell-product-card {
    border: .1rem solid lightgray;
}

.top-sell-product-card {
    width: 23%;
    border: .2rem solid green;

}

.t-s-product-img {
    width: 100%;
}

.t-s-product-img>img {
    width: 100%;
    height: 100%;
}

.t-s-p-info {
    border: .1rem solid palegreen;
    padding: 1rem;
    font-size: 1.4rem;
    letter-spacing: .04rem;
}

.t-s-p-name {
    width: 100%;
}

.t-s-p-price {
    width: 100%;
    font-weight: bold;
    margin-top: 1rem;
}

.e-explore-btn {
    border: 1px solid #A86769;
    background-color: white;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
    color: #A86769;
    text-align: center;
    margin-top: 1rem;
}

.e-explore-btn:hover {
    background-color: #832729;
    color: white;
    cursor: pointer;
}

.shop-by-gender-content-wrapper {
    width: 90%;
    border: .2rem solid red;
    margin: 1rem auto;
}

.shop-by-gender-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-for-you-content-wrappper {
    width: 90%;
    border: .2rem solid blue;
    margin: 1rem auto;
}

.news-for-u-info {
    width: 100%;
    border: .2rem solid goldenrod;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-for-y-img {
    width: 30%;
    position: relative;
}
.news-for-y-img:hover{
    box-shadow: 0 .4rem .8rem 0 rgba(131, 39, 41, 0.2), 0 .6rem 2rem 0 rgba(131, 39, 41, 0.19);

}
.news-img {
    width: 100%;
}

.news-img>img {
    width: 100%;
    height: 100%;
}

.news-explore-button {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: #832729;
    font-size: 1.rem;
    padding: 1.2rem 2.4rem;
    border: .1rem solid #832729;
    cursor: pointer;
    border-radius: .5rem;
    text-align: center;
    text-transform: capitalize;
}

.news-explore-button:hover {
    background-color: #832729;
    color: white;
    font-weight: bold;
}

.shine-with-nature {
    width: 90%;
    border: .2rem solid navy;
    margin: 3rem auto;
    position: relative;
}
.shine-with-nature:hover{
    box-shadow: 0 .4rem .8rem 0 rgba(131, 39, 41, 0.2), 0 .6rem 2rem 0 rgba(131, 39, 41, 0.19);

}
.shine-nature-img {
    width: 100%;
}

.shine-nature-img>img {
    width: 100%;
    height: 100%;
}

.videoi-review {
    width: 90%;
    margin: 2rem auto;
    position: relative;
}
.videoi-review:hover{
    box-shadow: 0 .4rem .8rem 0 rgba(131, 39, 41, 0.2), 0 .6rem 2rem 0 rgba(131, 39, 41, 0.19);

}

.rivaah-content {
    width: 90%;
    margin: 3rem auto;
    border: .2rem solid khaki;
    display: flex;

}
.rivaah-content:hover{
    box-shadow: 0 .4rem .8rem 0 rgba(131, 39, 41, 0.2), 0 .6rem 2rem 0 rgba(131, 39, 41, 0.19);

}

.rivaah-brides {
    width: 50%;
}

.rivaah-brides>img {
    width: 100%;
    height: 100%;
}

.rivaah-info-img {
    width: 50%;
    position: relative;
}

.rivaah-info-img>img {
    width: 100%;
    height: 100%;
}

.rivaah-explore-button {
    position: absolute;
    top: 80%;
    left: 65%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: #832729;
    font-size: 1.4rem;
    padding: 1.2rem 3.6rem;
    border: .1rem solid #832729;
    cursor: pointer;
    border-radius: .5rem;
    text-align: center;
    text-transform: capitalize;
}

.rivaah-explore-button:hover {
    background-color: #832729;
    color: white;
    font-weight: bold;
}

.rivaah-callback-button {
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: #832729;
    font-size: 1.4rem;
    padding: 1.2rem 2.4rem;
    border: .1rem solid #832729;
    cursor: pointer;
    border-radius: .5rem;
    text-align: center;
    text-transform: capitalize;
}

.rivaah-callback-button:hover {
    background-color: #832729;
    color: white;
    font-weight: bold;
}

.jwell-guides-content {
    width: 90%;
    margin: 2rem auto;
    border: .2rem solid darkcyan;
}

.jwell-guidence {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.jwell-left-side {
    width: 49%;
    border: .1rem solid #832729;
    height: 19rem;
    position: relative;
}
.jwell-left-side:hover{
    box-shadow: 0 .4rem .8rem 0 rgba(131, 39, 41, 0.2), 0 .6rem 2rem 0 rgba(131, 39, 41, 0.19);

}
.jwell-left-side>img {
    width: 100%;
    height: 100%;
}

.jwell-right-side {
    width: 49%;
    height: 19rem;
    border: .1rem solid #832729;
    position: relative;
}
.jwell-right-side:hover{
    box-shadow: 0 .4rem .8rem 0 rgba(131, 39, 41, 0.2), 0 .6rem 2rem 0 rgba(131, 39, 41, 0.19);

}
.jwell-right-side>img {
    width: 100%;
    height: 100%;

}

.guidance-txt {
    color: #832729;
    position: absolute;
    font-size: 2.4rem;
    letter-spacing: .02rem;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.jwell-right-side>h1:nth-child(2) {
    left: 35%;
}

.j-g-explore-now-btn {
    position: absolute;
    font-size: 1.4rem;
    letter-spacing: .04rem;
    background-color: #f2c1c276;
    /* opacity: 0.4; */
    padding: 1rem;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: inline-block;
    cursor: pointer;
}
.connect-with-us-content{
    width: 90%;
    margin: 2rem auto;
    border: .2rem solid khaki;
}
.connect-by-opt{
    border: .2rem solid green;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.connect-opt{
    width: 32%;
    background: url(/images/Upto-20-off-Bg.jpg);
    display: flex;
    justify-content: space-between;
    border: .1rem solid #832729;

}
.connect-opt:hover{
    box-shadow: 0 .4rem .8rem 0 rgba(131, 39, 41, 0.2), 0 .6rem 2rem 0 rgba(131, 39, 41, 0.19);

}
.connect-info{
    width: 65%;
    padding: 2rem;

}
.connect-info>p{
    font-size: 2rem;
    color: #832729;
    font-weight: 600;
}
.connect-info>h1{
    font-size: 3rem;
    color: #832729;
    font-weight: 600;
}
.connect-img{
    width: 35%;
    padding: 1.6rem;
}
.connect-img>img{
    width: 100%;
    height: 100% ;
}
.wh-connect-btn{
    font-size: 1.4rem;
    letter-spacing: .04rem;
    background-color: #f2c1c276;
    padding: 1rem;
    display: inline-block;
    cursor: pointer;
    margin-top: 1.4rem;
    font-weight: bold;
}

/* footer------------------------------------------------------------------------ */


.footer{
    margin-top: 3rem;
    width: 100%;
    background-color: #f2c1c276;
}
.footer-container{
    width: 90%;
    border: .2rem solid black;
    display: flex;
    justify-content: space-between;
    margin: auto;

}
.footer-link-txt{
    letter-spacing: .02rem;
    line-height: 2.2rem;
    font-size: 2rem;
    color: #832729;
    font-weight: 600;
    text-transform: capitalize;
    margin: 2rem 0rem 1rem 0rem;
}

.footer-links-heading{
    width: 20%;
    display: flex;
    text-transform: capitalize;
    flex-direction: column;
   }
.footer-link{
    color: black;
    letter-spacing: .02rem;
    line-height: 2.2rem;
    font-size: 1.6rem;
}
.footer-link:hover{
    font-weight: bold;
    text-decoration: underline;
}
.download-app{
    width: 25%;
    border: .2rem solid orange;
    margin-top: 1.8rem;
}
.download-app>h3{
    font-size: 1.8rem;
}
.app-download-opt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
   
}
.appstore-img{
    width: 45%;

}
.appstore-img>img{
    width: 100%;
    height: 100%;
}
.playstore-img{
    width: 45%;
}
.playstore-img>img{
    width: 100%;
    height: 100%;
}
.follow-us-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.follow-us{
    width: 48%;
    font-size: 1.8rem;
    letter-spacing: .02rem;
    font-weight: 600;
}
.social-media-icons{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.s-m-icon{
    width: 20% ;

}
.s-m-icon>img{
    width: 100%;
    height: 100%;
}
.hr-line{
    margin: 2rem auto 2rem auto;
    width: 90%;
}
.footer-container-2{
    width: 90%;
    margin: auto;
    border: .2rem solid purple;
}
.footer-last-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0rem;
}
.footer-last-left-div{
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-payment-image{
    width:5%;
}
.footer-payment-image>img{
    width: 100%;
    height: 100%;
}
.footer-last-right-div{
    width: 35%;
}
.footer-last-right-div>p{
    font-size: 1.4rem;
    letter-spacing: .02rem;
    color: #832729;
    line-height: 2rem;
}


/* login- sign up page------------------------------------------------------------ */

.login-content-wrapper{
    width: 56%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
}
.left-login-content{
    width: 75%;
    border: .2rem solid rebeccapurple;
    padding: 4rem;
}
.left-login-content>h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}
.right-login-img{
    width: 25%;
}
.right-login-image{
    width: 100%;
}
.right-login-image>img{
    width: 100%;
    height: 100%;
}
legend{
    width: 10%;
}
.f-content-field{
    display: flex;
    justify-content: space-between;
align-items: center;
}






